<div class="row">
    <form>
        <input name="email" type="email" id="email" required="" placeholder="Email" />
        <input name="password" type="password" required="" placeholder="Contraseña" id="password" />
        <button onclick="store()" type="button">Guardar</button>
    </form>

</div>
