  caches.open("cache:static:").then(cache => cache.addAll([                                                                                                                  
    "<%= Routes.static_path(@conn, "/css/app.css") %>",                                                                                            
    "<%= Routes.static_path(@conn, "/main.js") %>",
    "<%= Routes.static_path(@conn, "/images/icons8-v-live-144.png")%>",
    "<%= Routes.static_path(@conn, "/images/icons8-v-live-144.png")%>",
    "<%= Routes.static_path(@conn, "/images/phoenix.png") %>"
    "/offline.html",                                                    
  ]));    